body{
    margin: 0;
}

.contenitore {
    background:whitesmoke;
    border-color: red;
    max-width:1000px;
    margin: 0px auto;
}


figure {
    margin: 0;
    background-image:url('../img/pattern.png') ;
    background-color: rgb(72, 70, 193);
    text-align: left;
    padding: 40px 0px;
}
figure img{
    width: 200px;
    
}

#foto-tim .galleria img {
    height: 300px;
    width: auto;

}
#riassunto-tabellare thead tr{
    background-color: lightblue;
}

#riassunto-tabellare tbody tr:nth-child(odd),
#riassunto-tabellare tfoot tr:nth-child(odd) {
    background-color: #D6EEEE;
  }

#scrittore{
    
}
#data-pubblicazione{

}

h4{
    color: grey;
}

footer .foto {
    width: 200px;
    height: 200px;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
}

footer .foto-1 {
    background-image:url('../img/monitor.jpg') ;

}

footer .foto-2 {
    background-image:url('../img/graph.jpg') ;

}

