.contenitore {
    background:whitesmoke;
    border-color: red;
    max-width: ;width: 1000px;
    margin: 50px auto;
}

header {
    text-align:center;
}
body,
figure {
    margin: 0;
    background-image:url('../img/pattern.png') ;
    background-color: rgb(72, 70, 193);
}
main {
    padding-left: 10px;
}

h4{
    color: grey;
}