body{
    margin: 0;
}

.contenitore {
    background:whitesmoke;
    border-color: red;
    max-width:1000px;
    margin: 0px auto;
}


figure {
    margin: 0;
    background-image:url('../img/pattern.png') ;
    background-color: rgb(72, 70, 193);
    text-align: left;
    padding: 40px 0px;
}
figure img{
    width: 200px;
    
}

#foto-tim .galleria img {
    height: 300px;
    width: auto;

}

main {

}
#scrittore{
    
}
#data-pubblicazione{

}

h4{
    color: grey;
}